*{

}


main{

    
  

}


 body{
 
    position: relative;


 }


 header{
   
    background-color: darkslategrey;
    color: white;
    height: 50px;
    font-size: 25px;

}


.name{
    position: relative;
    font-size: 50px;
    float: left;
  
}


nav{

    display: flex;
    justify-content: flex-end;


} 

header nav a{
    margin: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

header nav a:hover{
   
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: pink;

}


.title{
    
    border: black solid 7px;
    text-align: center;
    margin: 20px 30%;
    
    
}

#about-me{
    background-color: purple;
    color: white;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.text{
    width: 40%;
}

.text p {
    justify-content: center;
    margin: 40px; 
    line-height: 1em;
}

.my-picture{
    width:30%;
    height: inherit;
}

.my-picture img{
    height: 100%;
    width: 100%;
    margin: 0px;
    border: none;
}


.content{
    width: 100%;
    background-color: blue;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.first-span{
background-color: purple;
    height: auto;
 
    width: 42%;

  
}

.test{
    background-color: orange;
width: 58%;
display: flex;
justify-content: center;
flex-wrap: wrap;


}


img{
    height: 170px;
    width: 40%;
    margin: 10px;
    border: solid white 5px;
    cursor: pointer;

   
}


#first-picture{
    width: 90%;
    height: 375px;
    }


.title p {
    font-size: 150%;
}


.contact-links{
    padding: 20px;
    text-decoration: none;
    color: white;
}




#contact{
   display: flex;
 
    background-color: blue;
    justify-content: space-around;
    align-items: center;
   
    height: auto;
    width: 100%;
    
    position: absolute;
    bottom: 0;


}

#contact a {
    cursor: pointer;
}




footer{
    

    margin: 20px 0;

    height: 100px;
    width: 100%;
 
}




@media screen and (max-width: 998px) {


.name{
    float: none;
}

header{

    height: 100px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  
}


    #about-me{
        height: auto;
        width: 100%;

    }

.my-picture{
    width: 100%;
   height:auto;
  
}

.text{
    height:auto;
    width: 100%;
}

    .first-span{
            height: auto;
            width: 100%;
        }
        
        .test{
        width: 100%;
        
        }
        
        
        img{
            height: 150px;
            width: 40%;  
        }
        
        
        #first-picture{
            width: 90%;
        height: 300px;
            }



        
            #contact{
              
                 
                position: absolute;
                bottom: -250px;
            
            
           }
           
 
 

    
}

@media screen and (max-width: 640px) {



    header{
        height: auto;
    }


    nav{
        display: flex;
        flex-wrap: wrap;
    }


nav a {
    width: 100%;
    text-align: center;      
}

 
        
        .test{
        width: 100%;
        }
        
        
        img{
            height: 100px;
            width: 100%;  
        }
        
        
        #first-picture{
            width: 95%;
        height: 100px;
            }
    

  
            #contact{
              
              display: flex;
              flex-wrap: wrap;
            text-align: center;

            
           }
            #contact a {

                width: 100%;

            }
           

}
